<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  <body class="bg-gray-100 h-screen flex items-center justify-center">
    <form class="bg-white p-6 rounded-lg shadow-md">
      <h1 class="text-2xl font-medium mb-4">Nuroku жүйесіне кіру</h1>
      <div class="mb-4">
        <label class="block text-gray-700 font-medium mb-2">
          Пайдаланушы аты
          <input type="email" class="form-input w-full border border-gray-400 rounded-lg p-2">
        </label>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 font-medium mb-2">
          Құпия сөз
          <input type="password" class="form-input w-full border border-gray-400 rounded-lg p-2">
        </label>
      </div>
      <div class="flex items-center justify-between">
        <button class="bg-indigo-500 text-white py-2 px-4 rounded-lg hover:bg-indigo-600">
          Кіру
        </button>
        <a href="#" class="text-indigo-500 hover:underline">Құпия сөзді ұмыттыңыз ба?</a>
      </div>
    </form>
  </body>
</html>
